h1 {
  color: goldenrod;
}

.scroll-container {
}

.scroll-list {
  list-style: none;
  overflow-x: auto;
  display: flex;

  &__item {
    flex-basis: 50vw;
    flex-shrink: 0;
    background-color: tomato;
    margin: 0 1rem;
    padding: 1rem;
  }
}
